<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head th:replace="fragments/temp :: head">

</head>
<body>
	<div th:replace="fragments/temp :: menu('Login')"></div>
	<div class="container">
		<div class="card mt-3">
			<form  method="post" th:action="@{/login}"
				class="card-body ">
				<div class="form-group">
					<div>
						<label>Login</label> <input name="username"
							class="form-control" placeholder="nome do usuário" type="text" />
						
						
					</div>
					<div>
						<label for="input-2" class="mt-3">Senha</label> <input  name="password"
							class="form-control" placeholder="senha do usuário" type="password" />
						
					</div>
				

					<button type="submit" class="btn btn-primary mt-3">Login</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/temp :: footer"></div>
</body>
</html>